.container {
    background-color: #fff;
    
    padding: 200px 20px 50px;
    width: 100vw;

    @media screen and (max-width: 1024px) {
        padding: 40px 10px 15px ;
    }
    
    
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.firstText {
    font-size: 39px;
    font-weight: 400;
    line-height: 54px;
     width: 922px;

     @media screen and (max-width: 1024px) {
        width: 100vw;
        font-size: 18px;
        font-weight: 500;
        line-height: 35px;
     }
}

.firstText span{
  background-color: #6761FF1A;
}

.secondText {
    font-size: 20px;
    font-weight: 400;
    line-height: 28.64px;
    color: #03021B;
    max-width: 645px;
    margin-top: 30px;

    @media screen and (max-width: 1024px) {
        font-size: 14px;
        font-weight: 400;
    }
}

