.container {
    background-color: #fff;
    width: 100vw;
    
    padding: 70px  70px 15px;

    @media screen and (max-width: 1024px) {
        padding: 70px 14px 15px;
    }
}

.firstContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;

    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);   
        row-gap: 35px;
        justify-content: space-between;
    }
     
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    /*SF display*/
}

.listContainer p {
    font-size: 20px;
    font-weight: 500;
    color: #b3b3b3;
}

.listContainer p:not(:last-child) {
    margin-bottom: 10px;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 240px;

    @media screen and (max-width:  1024px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 8px;
        width: auto;

    }
}

.rule {
    width: 100vw;
    margin: 70px auto 20px;

    @media screen and (max-width: 1024px) {
        margin: 70px auto 20px;
        width: 90vw;
        text-align: center;
    }
}

.secondContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b3b3b3;
    font-size: 18px;
    font-weight: 600;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }
}

.innerContainer {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
        margin-top: 5px;
    }
}

.innerContainer p:first-child {
    margin-right: 20px;
}