.logoContainer {
    display: flex;
    height: 8vh;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    margin-left: 5px;
    /* sf pro display */
}

.menuBar {
    margin: 75px auto 100px auto;
}

.menuBar:hover {
    color: #6761ff;
}

.menuIcon {
    margin-bottom: 30px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconTitle {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 2px;
}

.logoutDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendarBg {
    background-color: #1e59cf;
    border-radius: 5px;
    height: auto;

    @media screen and (max-width: 1024px) {
        object-fit: contain;
        margin: 0px auto;
        padding: 4px 16px;
        width: 90vw;
    }
}

.sticky {
    position: sticky;
    top: 0;
    height: 100vh; 
    z-index: 50;
    background-color: white; 
}

.container {
    display: flex;
    height: 100vh;
}

.scrollableContent {
    flex: 1;
    overflow-y: auto;
}
