.container {
    margin-top: 15px;

    @media screen and (max-width: 1024px) {
     display: none;
  }
} 
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    height: 88px;
    background-color: #fff;
    width: 80vw; /* width: 1280px; */
    background-color: #fff;
    border-radius: 8px;
    border: 1px;
    border-color: #fff;
    
    margin: auto;    
    
   
  }

  
  .logoContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
   margin-left: 2px;
   

}

.logo {
    font-size: 22px;
    font-weight: 700;
    margin-left: 5px;
    /*sf pro display*/
}
  
  
  /* .logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
  } */
  
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex: 3;
    font-size: 20px;
    font-weight: 500;
    font-size: 20px;
  }

  .button {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    font-size: 20px;

  }

  .loginBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--blueColor);
    color: var(--blueColor);
    height: 48px;
    width: 90px;
    font-weight: 500;
    font-size: 24px;
  }

  
  
  @media screen and (max-width: 1280px) {
    .logo {
      font-size: 32px;
    }
    .links {
      font-size: 18px;
      gap: 15px;
    }
  }
  @media screen and (max-width: 1024px) {
    .social {
      display: none;
    }
    .logo {
      text-align: left;
    }
  }
  @media screen and (max-width: 768px) {
    .logo {
      font-size: 24px;
    }
  }
  @media screen and (max-width: 640px) {
    .links{
      justify-content: flex-end;
    }
    .link {
      display: none;
    }
  }