/*sf display pro*/

.loginContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;

    @media screen and (max-width: 768px)  {
        display: block;
    }
}



.imgContainer {
    position: relative;
    width: 50vw;
    background-color: #1e59cf;

    @media screen and (max-width: 768px)  {
        display: none;
    }
}

.properDiagnosis {
    font-size: 56px;
    font-weight: 700;
    color: #ffff;
    margin-top: 60px;
    margin-left: 65px;
    /*cormorant garmarond*/
}
.physicianContainer {
position: absolute;
bottom: 30px;
right: -550px;
}

.logoContainer {
    position: absolute;
    bottom: 80px;
    left: 65px;
    display: flex;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 29.45px;
    font-weight: 700;
    margin-left: 5px;
    /*sf pro display*/
}
.textContainer {
    display: flex;
    flex-direction: column;
     padding-top: 15vh;
     padding-bottom: 15vh;
     margin-left: 20px;
    align-items: center;
    z-index: 1000;

    @media screen and (max-width: 768px)  {
        justify-content: center;
        padding-top: 15px;
        padding-bottom: auto;
        margin-left: 0px;
        max-width: 100vw;
       
    }
}

.textWrapper {
  
}
.titleContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.form {
    display: flex;
    flex-direction: column;
}

.loginTitle {
    font-size: 40px;
    font-weight: 600;
    color: #03021b; /*sf display pro*/
    margin-bottom: 10px;
}

.loginText {
    font-size: 16px;
    font-weight: 400;
    color: #03021b; /*sf display pro*/
}

.passwordContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    @media screen and (max-width: 768px) {
      width: 100vw;
    }
}

.signinBtn {
    background-color: #1e59cf;
    border-radius: 5px;
    padding: 8px 16px;
    color: #ffff;
    font-size: 18px;
    font-weight: 500;
    /*sf display pro*/
    @media screen and (max-width: 768px) {
         padding: 8px 5px;
         width: 80vw;
}
   
}

.inputBox {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 6px;
    outline: none;

    @media screen and (max-width: 768px){
     width: 100vw;
    }
}

.inputBox:focus {
    outline: #1e59cf;
}
.labelInput {
    margin-bottom: 20px;
}

.labelInput::placeholder {
    font-size: 16px;
    font-weight: 400;
    /*sf display pro*/
}
.checkboxInput {
    margin-right: 7px;
}

.rememberText {
    font-size: 16px;
    font-weight: 400;
    color: #03021b;
    display: flex;
    align-items: center;
}

.forgetPassword {
    color: #1e59cf;
    font-size: 16px;
    font-weight: 400;
    
}

.signUpAcc {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    
    @media screen and (max-width: 768px) {
        width: 100vw;
        text-align: start;
        display: block;
        margin: 20px auto 0px;
    }
}

.signUp {
    color: #1e59cf;
    cursor: pointer;
    margin-left: 2px;
}
