@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --bgColor: #F9F9F9;
  --textColor: black;
  --softBg: #0f0f0f0;
  --softTextColor: #626262;
  --blueColor: #1E59CF;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body{
  max-width: 100vw;
  font-size: 16px;
  background-color: var(--bgColor);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;

}

.light {
  --bg:white;
  --textColor: black;
  --softBg: #0f0f0f0;
  --softTextColor: #626262;
}

.container {
  /* min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor); */
}

.wrapper {
  /* max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px; */
}

.blue-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blueColor);
  border-width: 1px;
  border-radius: 5px;
  color: #fff;
  height: 48px;
  width: auto;
  padding: 0 17px;
  font-weight: 500;
  font-size: 20px;

  @media screen and (max-width: 1024px) {
     padding: 0 5px;
  }
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    /* padding-left: 40px;
    padding-right: 40px; */
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}


@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}