.optionContainer {
    text-align: center;
    width: 365px;
   padding: 15px 10px;
   margin-top: 70px;
    background-color: #fff;

    @media screen and (max-width: 1024px) {
        margin-top: 0px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        
    }

    @media screen and (max-width: 480px) {
        padding: 15px 0px;
        width: 90vw;
    }
}

.optionTopic {
    color: #1E59CF;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.optionDetails {
    width: 335px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 28.64px;
    color: #B3B3B3;
    @media screen and (max-width: 480px) {
        width: auto;
    }
}

.optionImg {
    display: flex;
    justify-content: center;
   
}



.imgContainer {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
} 