.container {
    margin-top: 30px;
    padding: 20px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.firstText {
    font-size: 44px;
    font-weight: 600;
    line-height: 53.68px;
    width: 597px;

    @media screen and (max-width: 1024px) {
        width: 100vw;
        font-size: 24px;
        line-height: 35px;
    }
    
}

.secondText {
    width: 645px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.64px;
    color: #b3b3b3;
    margin-top: 30px;

    @media screen and (max-width: 1024px) {
        width: 100vw;
        line-height: 24px;
    }
}

.reviewContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
     justify-content: center;
     @media screen and (max-width: 1024px) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;
     }
    }
    
.slideContainer {
    margin: 150px auto 0px;
    width: 75%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1024px) {
        margin: 10px 0px;
    }



}

.slideTopic {
    color: #1E59CF;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px; 
}
