/*sf display pro*/

.signupContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;

    @media screen and (max-width: 768px)  {
        display: block;
        overflow-y: scroll;
    }
}

.imgContainer {
    position: relative;
    width: 50vw;
    height: 100vh;
    background-color: #1e59cf;

    @media screen and (max-width: 768px)  {
        display: none;
    }
}

.properDiagnosis {
    font-size: 56px;
    font-weight: 700;
    color: #ffff;
    margin-top: 60px;
    margin-left: 65px;
    /*cormorant garmarond*/
}
.physicianContainer {
position: absolute;
bottom: 0px;
right: -550px;
}

.logoContainer {
    position: absolute;
    bottom: 80px;
    left: 65px;
    display: flex;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 29.45px;
    font-weight: 700;
    margin-left: 5px;
    /*sf pro display*/
}
.textContainer {
    display: flex;
    flex-direction: column;
     /* padding-top: 1vh;
     padding-bottom: 1vh; */
     margin-left: 20px;
    align-items: center;
    z-index: 1000;

    @media screen and (max-width: 768px)  {
        justify-content: center;

        padding: 0vh 1vw 0px;
        margin-left: 0px;
        overflow: hidden;
        max-width: 100vw;
    }
}

.textWrapper {
  margin: auto 0px;
}
.titleContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.form {
    display: flex;
    flex-direction: column;
}

.loginTitle {
    font-size: 40px;
    font-weight: 600;
    color: #03021b; /*sf display pro*/
    margin-bottom: 10px;
}

.loginText {
    font-size: 16px;
    font-weight: 400;
    color: #03021b; /*sf display pro*/
}

.passwordContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.signinBtn {
    background-color: #1e59cf;
    border-radius: 5px;
    padding: 8px 16px;
    color: #ffff;
    font-size: 18px;
    font-weight: 500;
    /*sf display pro*/

    @media screen and (max-width: 768px) {
        padding: 8px 5px;
        width: 90vw;
}
}

.inputBox {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 6px;
    /* outline: none; */

    @media screen and (max-width: 768px){
        width: 90vw;
       }
}

.inputBox:focus {
    outline: #1e59cf;
}

.labelInput {
    margin-bottom: 20px;
}

.role { 
    margin-bottom: 20px;
}
.rolebox {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 6px;
   
    @media screen and (max-width: 768px){
        width: 90vw;
       }
}

.rolebox:focus {
    outline: #1e59cf;
}

.labelInput::placeholder {
    font-size: 16px;
    font-weight: 400;
    /*sf display pro*/
}
.checkboxInput {
    margin-right: 7px;
}

.signUpAcc {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    @media screen and (max-width: 768px) {
        width: 100vw;
        text-align: center;
        display: block;
        margin: 15px auto 0px;
    }
}

.signUp {
    color: #1e59cf;
}