.container {
    background-color: #ffff;
    width: 100vw;
    position: relative;
}

.vector {
    position: absolute;
    top: 0;
    left: 0;

    @media screen and (max-width: 1024px) {
        width: 20%;
    }
}

.wrapper {
    padding: 20px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    width: 965px;
    font-size: 38px;
    font-weight: 400;
    line-height: 54px;
    text-align: center;
    color: #03021B;
    /*cormorant gamarond*/

    @media screen and (max-width: 1024px) {
        margin-top: 50px;
        width: 100vw;
        font-size: 24px;
        line-height: 35px;
    }
}