.container {
    display: flex;
    position: relative;
    max-width: auto;
    padding-bottom: 20px;
  
}

.boxOne {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-left: 80px;
    
    
}

.text {
    color: var(--blueColor);
    max-width: 650px;
    height: 192px;
    /* position: absolute;
    top: 106px;
    left: 80px; */
      font-family: como;
    font-size: 40px;
    line-height: 63.8px;
    font-weight: 500;

    @media scren and (max-width: 1024px) {
        max-width: 100vw;
    }
}

.miniBox {
    display: flex;
    align-items: center;
    background-color: #ffff;
    border-radius: 5px;
    height: 90px;
    width: 860px;
   z-index: 6;
    margin-top: 26px;
    font-size: 21px;
    font-weight: 400;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 1024px) {
        width: 100vw;
       
    }
}

.miniBox div:first-child {
    
    border-color: #b3b3b3;
    border-right-width: 1px;
    

}

.miniBox div:first-child p {
    margin-left: 20px;
}

.miniBox div:nth-child(2) {
    color: #b3b3b3;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.miniBox div:nth-child(2) p {
    margin-right: 60px;
}

.miniBox div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    
}


.boxTwo {
    position: absolute;
    right: 0px;
    z-index: 1;
}

.img {
    margin-top: 45px;
    
}

