

.boxOne {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-left: 80px;

    @media screen and (max-width: 1024px) {
     margin-left: 0px;
     display: none;
    }
    
    
}

.text {
    color: var(--blueColor);
    max-width: 650px;
    height: 192px;
    /* position: absolute;
    top: 106px;
    left: 80px; */
      font-family: como;
    
    line-height: 63.8px;
    font-weight: 500;

    @media screen and (max-width: 768px)  {

    }

   
}

.miniBox {
    display: flex;
    align-items: center;
    background-color: #ffff;
    border-radius: 5px;
    height: 90px;
    width: 750px;
   z-index: 6;
    margin-top: 78px;
    font-size: 21px;
    font-weight: 400;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 1024px) {
        width: auto;
        font-size: 18px;
    }
}

.miniBox div:first-child {
    
    border-color: #b3b3b3;
    border-right-width: 1px;
    

}

.miniBox div:first-child p {
    margin-left: 20px;

    @media screen and (max-width: 1024px) {
     margin-left: 8px;
    }
}

.miniBox div:nth-child(2) {
    color: #b3b3b3;
    display: flex;
    align-items: center;
    margin-right: 20px;

    @media screen and (max-width: 1024px) {
        margin-right: 0px;
        font-size: 14px;
    }
}


.miniBox div:nth-child(2) p {
    margin-right: 30px;

    @media screen and (max-width: 1024px) {
     
        margin-right: 0px;
    }
}

.miniBox div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;

    @media screen and (max-width: 1024px) {
     padding: 0 3px;
    }
    
}


.boxTwo {
   
    z-index: 1;

   
}

.img {
    margin-top: 45px;
    
    @media screen and (max-width: 1024px) {
        margin-top: 10px;
    }
    
}

.loginBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--blueColor);
    color: var(--blueColor);
    height: 48px;
    width: 90px;
    font-weight: 500;
    font-size: 24px;
  }

